body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

.page {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    border: 2px solid #ddd;
    background-color: #fff;
}

.description {
    margin-right: auto;
    margin-left: 50px;
}

.introHeader {
    padding: 40px;
}

.redAlert {
    padding: 40px;
    background-color: #d44;
    color: white;
    font-size: 120%;
}

.textBlock {
    padding: 40px;
}

img {
    width: 100%;
    max-width: 100%;
}

.noteText {
    color: #888;
    font-size: 80%;
}

h1, h2, h3 {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .page {
        width: 100%;
        margin: 0;
        border: 0 none #000;
    }

    .introHeader {
        padding: 8%;
    }

    .redAlert {
        padding: 8%;
    }

    .textBlock {
        padding: 8%;
    }

    .installBlock {
        padding: 8%;
    }

}

textarea#note_1 {
    width: 100%;
    box-sizing: border-box;
    direction: rtl;
    display: block;
    max-width: 100%;
    line-height: 1.5;
    padding: 15px 15px 30px;
    border-radius: 3px;
    border: 1px solid rgba(58, 78, 89, 1);
    font: 13px Tahoma, cursive;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-smoothing: subpixel-antialiased;
    /*background:linear-gradient(#F9EFAF, #F7E98D);*/
    /*background:-o-linear-gradient(#F9EFAF, #F7E98D);*/
    /*background:-ms-linear-gradient(#F9EFAF, #F7E98D);*/
    /*background:-moz-linear-gradient(#F9EFAF, #F7E98D);*/
    /*background:-webkit-linear-gradient(#F9EFAF, #F7E98D);*/
}